* {
	margin: 0;
	padding: 0;
}

#main {
	width: 640px;
	height: 356px;
	background-color: red;
	position: relative;
	left: 100px;
	top: 10px;
}

#main .main_pic {
	list-style: none;
	width: 640px;
	height: 356px;
}

#main .left {
	width: 100px;
	line-height: 356px;
	background-color: rgba(0, 0, 0, 0.4);
	font-size: 100px;
	text-align: center;
	float: left;
	color: white;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2000;
	filter: alpha(opacity : 0);
	opacity: 0;
	cursor: pointer;
}

#main .right {
	width: 100px;
	line-height: 356px;
	background-color: rgba(0, 0, 0, 0.4);
	font-size: 100px;
	text-align: center;
	color: white;
	float: right;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 2000;
	filter: alpha(opacity : 0);
	opacity: 0;
	/*手型指针*/
	cursor: pointer;
}

#main .main_pic li {
	width: 640px;
	height: 356px;
	float: left;
	position: absolute;
	left: 0;
	top: 0;
	/*z-index: 0;*/
	overflow: hidden;
}

#main .main_pic li img {
	width: 640px;
	height: 356px;
}